.footer 
    padding-top: 2em
    background-image: url("../../images/team_background.jpg")
    #imageFooter img
        width: 80px
        padding: 0.4em
    


.footer2 
    height: 90px
    background-color: #dd003f
