.formimg
    background-image: url("../../images/book_table_bg.jpg")
    background-size: cover
    height: 50vh
    border-radius: 3%
    text-align: center
    display: flex
    align-items: center
    width: 50%
.formulaire
    padding-left: 15%
    padding-right: 15%
    padding-top: 5%
.imgcard
    height: 200px
.cartered
    background-color: red
    height: 30px
    width: 90%
    text-align: center
    margin: -5%
    padding-bottom: 20px
    border-radius: 5%
h5 
    font-size: 18px
    span 
        font-size: 25px
        color: white